.footer {
  padding: 1em 0em;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.light {
  color: var(--light-txt-color);
}

.dark {
  color: var(--dark-txt-color);
}

.active {
  color: var(--light-blue);
}

/* 
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--light-txt-color);
}

a.dark {
  color: var(--dark-txt-color) !important;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


span {
  display: block;
}

svg {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

*/
