:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* ANY THEME */
    --light-blue: #646cff;
    --dark-blue: #535bf2;

    /* LIGHT THEME */
    --light-txt-color: #213547;
    --light-bg-color: #ffffff;

    /* DARK THEME */
    --dark-txt-color: rgba(255, 255, 255, 0.87);
    --dark-bg-color: #242424;
}

body {
    margin: 0;
    padding: 0;
}